$base-color: rgb(229, 230, 231);
$input-focus-color: #92c8eb;
$message-button-color: #e4c878;
$message-button-hover-color: #caa43f;
$message-button-active-color: #bb8542;

.contact {
    display: flex;
    color: white;
}

.contact .image {
    background-image: url('../images/06.jpg');
    height: inherit;
    width: 100%;
    position: absolute;
}

.contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact-form {
    background-color: white;
    margin: 25px 15%;
    color: $base-color;
    padding: 2em;

    form {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        width: inherit;
        font-size: 1em;
        font-family: $roboto;
        text-align: left;
        padding: 10px;
        margin: 5px;
        border: 2px $base-color solid;

        &:focus {
            outline: none;
            border-color: $input-focus-color;
        }
    }

    textarea {
        resize: none;
    }

    .send-message {
        background-color: $message-button-color;
        color: white;
        width: 200px;
        border-radius: 25px;
        height: 50px;
        text-align: center;
        border: none;
        align-self: center;

        &:hover {
            background-color: $message-button-hover-color;
        }

        &:active {
            background-color: $message-button-active-color;
        }
    }
}