.footer {
    display:flex;
    align-items: center;
    background-color: #617d78;
    color: #c9c9c9;
    padding: 30px;

    a:link,
    a:visited,
    a:active {
        color: #c9c9c9;;
    }
}

.social-media {
    font-size: 25px;
    padding: 0 5px;
}

.footer-copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-copyright-icon {
    padding-right: 5px;
}