.header {
    display: flex;
    padding: 10px;
    font-family: $roboto;
}

.header-title {
    flex: 1;
    margin: auto;
    font-weight: 100;
}

.header-link {
    margin: auto;
    padding: 0 10px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .header-link {
        display: none;
    }

    .header-title {
        text-align: center;
    }
}