@import url('https://fonts.googleapis.com/css?family=Roboto:100|Montserrat');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

@import 'mixins';
@import 'transitions';

@import 'contact';
@import 'description';
@import 'gallery';
@import 'footer';
@import 'header';
@import 'intro';

body {
   margin: 0;
   font-family: $montserrat;

    a {
        text-decoration: none;
    }
}

.title {
    font-family: $roboto;
}

h1 {
    margin: 5%;
}

.intro,
.description,
.gallery,
.contact {
    height: 99vh;
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.description,
.gallery,
.contact {
    justify-content: center;
}

a:link,
a:visited,
a:active {
    color: black;
}